<form action="" method="post">
    <table>
        <tr>
         <td>fanon</td><td><input type="text" name="fanon" id=""></td>   
        </tr>
        <tr>
         <td>fanoff</td><td><input type="text" name="fanonff" id=""></td>   
        </tr>
        <tr>
         <td>lighton</td><td><input type="text" name="lighton" id=""></td>   
        </tr>
        <tr>
         <td>lightoff</td><td><input type="text" name="lightoff" id=""></td>   
        </tr>
        <tr>
         <td>acon</td><td><input type="text" name="acon" id=""></td>   
        </tr>
        <tr>
         <td>acoff</td><td><input type="text" name="acoff" id=""></td>   
        </tr>
        <tr>
            <td>bedorientation</td><td><input type="text" name="bedorientation" id=""></td>   
           </tr>
        <tr>
            <td>emergency alarm</td><td><input type="text" name="emergencyalarm" id=""></td>   
           </tr>
    </table>
</form>