<form action="" method="post">
    <table>
        <tr>
         <td>prevhist</td><td><input type="text" name="prevhist" id=""></td>   
        </tr>
        <tr>
         <td>curcond</td><td><input type="text" name="curcond" id=""></td>   
        </tr>
        <tr>
         <td>name</td><td><input type="text" name="name" id=""></td>   
        </tr>
        <tr>
         <td>age</td><td><input type="text" name="age" id=""></td>   
        </tr>
        <tr>
         <td>bystandname</td><td><input type="text" name="bystandname" id=""></td>   
        </tr>
        <tr>
         <td>contactno</td><td><input type="text" name="contactno" id=""></td>   
        </tr>
    </table>
</form>
