<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
             <td>Name</td><td><input type="text" name="name" id=""></td>   
            </tr>
            <tr>
             <td>Username</td><td><input type="text" name="Username" id=""></td>   
            </tr>
            <tr>
             <td>Password</td><td><input type="text" name="Password" id=""></td>   
            </tr>
            <tr>
             <td>contactno</td><td><input type="text" name="contactno" id=""></td>   
            </tr>
        </table>
    </form>
       
</body>
</html>